{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Genus</h1>
                {{ form_start(genusForm) }}
                {{ form_row(genusForm.name) }}
                {{ form_row(genusForm.subfamily) }}
                {{ form_row(genusForm.speciesCount, {
                    'label': 'Number of Species',
                }) }}
                {{ form_row(genusForm.funFact) }}
                {{ form_row(genusForm.isPublished) }}
                {{ form_row(genusForm.firstDiscoveredAt) }}
                <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                {{ form_end(genusForm) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
{% endblock %}
