{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>{{ 'register.h1'|trans }}!</h1>
                {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first, {
                    'label': 'Password'
                }) }}
                {{ form_row(form.plainPassword.second, {
                    'label': 'Repeat Password'
                }) }}

                <button type="submit" class="btn btn-primary" formnovalidate>{{ 'register.submit'|trans({},'messages') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
